@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Order Management";
}

<div class="row mt-5 mb-5">
    <div class="col-10">
        <h1 class="display-4">@ViewBag.StoreFront.Title Order Management</h1>
    </div>
    <div class="col-2">
        <a asp-action="MyStorefront" asp-controller="Storefront">Back to Store</a>
    </div>
</div>
<h1 class="display-6 mb-3">Active Orders:</h1>
@{
    if(ViewBag.ActiveOrders.Count == 0)
    {
        <p class="mb-3">You don't have any active orders.</p>
    }
    else
    {
        <table class="table table-striped mb-5">
            <thead>
                <th>Order #</th>
                <th>Date Submitted</th>
                <th>Storefront</th>
                <th># of Products</th>
                <th>Total Cost</th>
                <th>Order Status</th>
            </thead>
        <tbody>
            @{
                foreach(var order in ViewBag.ActiveOrders)
                {
                    decimal orderTotal = 0;
                    foreach(var piso in order.Products)
                    {
                        orderTotal += piso.Product.Price;
                    }
                    <tr>
                        <td><a href="/storefronts/mystorefront/manageorders/@order.SubmittedOrderId">@order.SubmittedOrderId</a></td>
                        <td>@order.CreatedAt.ToString("MM/dd/yyyy")</td>
                        <td>@order.Storefront.Title</td>
                        <td>@order.Products.Count</td>
                        <td>$@orderTotal.ToString("#.##")</td>
                        <td>@order.Status</td>
                    </tr>
                }
            }
        </tbody>
        </table>
    }
}
<h1 class="display-6 mb-3">Completed Orders:</h1>
@{
    if(ViewBag.CompletedOrders.Count == 0)
    {
        <p class="mb-3">You don't have any completed orders.</p>
    }
    else
    {
        <table class="table table-striped mb-5">
            <thead>
                <th>Order #</th>
                <th>Date Submitted</th>
                <th>Storefront</th>
                <th># of Products</th>
                <th>Total Cost</th>
                <th>Order Status</th>
            </thead>
        <tbody>
            @{
                foreach(var order in ViewBag.CompletedOrders)
                {
                    decimal orderTotal = 0;
                    foreach(var piso in order.Products)
                    {
                        orderTotal += piso.Product.Price;
                    }
                    <tr>
                        <td><a href="/storefronts/mystorefront/manageorders/@order.SubmittedOrderId">@order.SubmittedOrderId</a></td>
                        <td>@order.CreatedAt.ToString("MM/dd/yyyy")</td>
                        <td>@order.Storefront.Title</td>
                        <td>@order.Products.Count</td>
                        <td>$@orderTotal.ToString("#.##")</td>
                        <td>@order.Status</td>
                    </tr>
                }
            }
        </tbody>
        </table>
    }
}